@font-face {
  font-family: 'SF Fedora Symbols';
  src: url('fonts/SFFedoraSymbols.eot');
  src: local('SF Fedora Symbols'), local('SFFedoraSymbols'),
      url('fonts/SFFedoraSymbols.eot?#iefix') format('embedded-opentype'),
      url('fonts/SFFedoraSymbols.woff2') format('woff2'),
      url('fonts/SFFedoraSymbols.woff') format('woff'),
      url('fonts/SFFedoraSymbols.ttf') format('truetype'),
      url('fonts/SFFedoraSymbols.svg#SFFedoraSymbols') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Fedora Titles';
  src: url('fonts/SFFedoraTitles.eot');
  src: local('SF Fedora Titles'), local('SFFedoraTitles'),
      url('fonts/SFFedoraTitles.eot?#iefix') format('embedded-opentype'),
      url('fonts/SFFedoraTitles.woff2') format('woff2'),
      url('fonts/SFFedoraTitles.woff') format('woff'),
      url('fonts/SFFedoraTitles.ttf') format('truetype'),
      url('fonts/SFFedoraTitles.svg#SFFedoraTitles') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Fedora Outline';
  src: url('fonts/SFFedoraOutline.eot');
  src: local('SF Fedora Outline'), local('SFFedoraOutline'),
      url('fonts/SFFedoraOutline.eot?#iefix') format('embedded-opentype'),
      url('fonts/SFFedoraOutline.woff2') format('woff2'),
      url('fonts/SFFedoraOutline.woff') format('woff'),
      url('fonts/SFFedoraOutline.ttf') format('truetype'),
      url('fonts/SFFedoraOutline.svg#SFFedoraOutline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Fedora';
  src: url('fonts/SFFedora.eot');
  src: local('SF Fedora'), local('SFFedora'),
      url('fonts/SFFedora.eot?#iefix') format('embedded-opentype'),
      url('fonts/SFFedora.woff2') format('woff2'),
      url('fonts/SFFedora.woff') format('woff'),
      url('fonts/SFFedora.ttf') format('truetype'),
      url('fonts/SFFedora.svg#SFFedora') format('svg');
  font-weight: normal;
  font-style: normal;
}



* {
  box-sizing: border-box;
  margin: 0;
}

main {
  
}
  
body {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  background: url('images/brown_leather_texture_by_maxdaten_d1pv2ff.png');
}

h1 {
  font-family: 'SF Fedora Outline';
  background: linear-gradient(to bottom, firebrick, khaki);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: 'SF Fedora Titles';
}
  
li {
  list-style: none;
}

#question-page, #tracker, #feedback-section, #see-results, #end-result-section {
  display: none;
}

  

