* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  header, .tracker, .answerFeedback {
    background-color: lightgrey;
  }
  
  .intro, .question, .endResult {
    background-color: darkgrey;
  }
  
  li {
    list-style: none;
  }